/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles in general */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generics styles*/
    color: rgb(83, 0, 63);
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #ffffff; /*White*/
    padding: 0 1rem; /*Padding on the sides*/
    position: fixed; /*Fixed position*/
    z-index: 99;   /*Z-index*/
    width: 100%; /*Full width*/
    box-shadow: 0 2px 2px #3a3a3a; /*Shadow*/
    display: flex; /*Flexbox*/
    justify-content: space-between; /*Space between*/
    align-items: baseline;  /*Align items*/
}

header a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #52004b;
}

h2 {
    font-family: helvetica;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #dad0d9;
    padding: 0 0.5rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Nav styles dropdown*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #272727;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main - HÄR VILL DE HA MELLANRUM EFTER MAIN MEN DE VILL EJ POGRAMMET*/
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Pink Main pic */
#pink {
    height: 600px;
    width: 100%;
    background: url("../images/pink.jpg") no-repeat center center/cover;
}

/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #81044d;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}

