/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles in general */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generics styles*/
    color: blue;
    font-family: 'Lato', sans-serif;
}


/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: rgb(12, 11, 11);
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(53, 34, 78);
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(53, 34, 78);
}

/*Nav styles dropdown*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    background-color: rgb(92, 119, 145);
    /*Make main element grow to fill the remaining space*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Footer*/
footer {
    background-color: rgb(65, 35, 121);
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
}
